
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 797.46 814.59"><defs><style>.cls-1,.cls-6,.cls-7{fill:none;}.cls-2{fill:#949494;}.cls-3{fill:url(#New_Pattern);}.cls-4{fill:#f8f8f8;}.cls-5{fill:#d3d3d3;}.cls-6,.cls-7{stroke:#000;stroke-linecap:round;stroke-width:2.5px;}.cls-6{stroke-linejoin:round;}.cls-7{stroke-miterlimit:10;}</style><pattern id="New_Pattern" viewBox="0 0 12 12" patternUnits="userSpaceOnUse" width="12" height="12" data-name="New Pattern"><rect class="cls-1" width="12" height="12" /><rect class="cls-1" width="12" height="12" /><circle class="cls-2" cx="12" cy="3" r="2" /><circle class="cls-2" cx="6" r="2" /><circle class="cls-2" cy="3" r="2" /><circle class="cls-2" cx="12" cy="9" r="2" /><circle class="cls-2" cx="6" cy="6" r="2" /><circle class="cls-2" cy="9" r="2" /><circle class="cls-2" cx="6" cy="12" r="2" /></pattern></defs><title>error-404-monochrome</title><g id="Layer_2" data-name="Layer 2"><g id="vector"><polygon class="cls-3" points="452.59,222.7 458.06,208.54 449.71,207.74 447.28,186.44 442.54,165.38 439.8,145.19 435.11,124.91 434.51,121.92 434.72,94.67 432.07,86.36 427.15,80.58 422.19,82.67 426.69,93.94 428.32,110.34 425.92,122.84 425.79,124.63 428.66,145.62 433.06,168.28 437.09,189.67 442.39,212.02 444.69,230.03 453.16,226.74 452.59,222.7" /><path class="cls-4" d="M 445.24 229.3 h 0 l -10.83 -56.46 l -9.22 -49.72 l 0 -0.07 c -0.08 0.19 -0.15 0.39 -0.23 0.57 c 1.13 5.84 19.48 101 19.88 105.83 Z" /><path class="cls-4" d="M 428 111.34 v -0.07 a 1 1 0 0 1 0 0.17 Z" /><path class="cls-4" d="M 703.84 272.59 c -19.68 -33.74 -36.26 -63.2 -52.17 -89 c -63.11 -7.15 -99.54 -35.7 -131.16 -35.7 c -3.68 0 -9.4 1.5 -11.57 1.5 h 0 l -4.8 9 l 0.14 12.39 l 7.43 1.4 l 10 5.33 l 7.09 6.61 l 8.68 12.92 l -0.59 0.39 c 4.27 1.65 7.63 4.19 9.52 7.88 c 2.47 4.8 2.26 10.44 0.29 16.29 h 0 c 15.29 57.24 5.37 142.37 -0.34 147.1 c -8.64 7.16 -100.75 -17 -108.4 -27.66 c -3.18 -4.4 -2.53 -34.51 3.18 -68.27 l 0.73 -0.35 c -12.55 1.5 -23.82 0 -30.89 -7.05 c -16.12 -16.12 -8.22 -129.11 -7.34 -141 a 46.85 46.85 0 0 1 -3.7 -19.06 C 400 89.69 406.33 77 414.17 77 c 3.49 0 6.69 2.53 9.16 6.71 l -1 -2.4 l 3.68 0 l 3.87 2.58 l 5 9.07 l 1.24 6.93 l -0.38 24.67 l 14.62 84.1 l 8.88 -0.87 l 4.51 -10 l 9.77 -13.72 l 7.65 -8.33 v -5.28 h 0 c -14.84 -2.54 -26.4 -22.84 -26.4 -47.5 c 0 -1.86 0.06 -3.7 0.19 -5.5 l 0.84 -10.58 l 1.56 -3.49 c 0.07 -0.27 0.14 -0.54 0.22 -0.8 c -1.15 -0.63 -5 -4.17 -5 -16.37 c 0 -24 26.56 -36.9 48.83 -41.9 c -29.62 -12.8 -62.77 -22.73 -99.28 -30.8 C 327.68 -2.62 239.75 -11.07 186.53 28 S 114.82 153.14 84.44 248.61 c -30.6 95.46 -73.08 200.29 -51.15 296 c 21.69 95.47 108 181.8 202.58 193.9 s 197.33 -50 306.5 -91.35 S 767.1 585.48 792 522.45 S 751.34 353.67 703.84 272.59 Z M 290.3 607.48 H 232.74 l 39.06 -13.81 V 585.6 h 18.5 Z" /><path class="cls-4" d="M 426.49 91.3 v 0 Z" /><path class="cls-4" d="M 462.08 92.88 a 11.39 11.39 0 0 1 0.08 -1.5 c -1.83 3.06 -4.21 10 -4.6 11.28 l 0.07 0.15 Z" /><path class="cls-3" d="M 503.78 263.8 c 5.32 2.29 50.69 29.49 50.26 58.74 c 0.83 -25.17 0.83 -46.24 0.83 -46.24 L 552 254.14 l -4.71 -30.58 l -9.63 14.8 L 525.1 251.75 L 510.32 262.4 Z" /><path class="cls-5" d="M 171.08 774.78 h -31.3 v 37.07 H 93.89 V 774.78 H 0 v -14 L 108.48 612.52 h 31.3 V 735.28 h 31.3 Z m -77.19 -39.5 V 689.09 L 61.08 735.28 Z" /><path class="cls-5" d="M 197.21 712.49 c 0 -57.43 16.71 -102.71 75 -102.71 c 58 0 74.14 45.28 74.14 102.71 c 0 57.13 -16.1 102.1 -74.14 102.1 C 213.92 814.59 197.21 769.62 197.21 712.49 Z m 103.31 0 c 0 -34.64 -6.69 -61.38 -28.26 -61.38 c -21.88 0 -29.47 26.74 -29.47 61.38 c 0 34.33 7.59 60.47 29.47 60.47 C 293.83 773 300.52 746.82 300.52 712.49 Z" /><path class="cls-5" d="M 535.1 774.78 H 503.8 v 37.07 H 457.92 V 774.78 H 364 v -14 L 472.5 612.52 h 31.3 V 735.28 h 31.3 Z m -77.18 -39.5 V 689.09 L 425.1 735.28 Z" /><path d="M 536.15 404.21 c 0.86 8.18 18.93 360.89 18.93 360.89 H 536.15 L 444.1 433 Z" /><path d="M 546.4 368.72 c 2.39 48.19 -18.14 87.66 -53.79 87.66 c -48.94 0 -113.73 -31.2 -131.56 -48.81 c -4.45 13.16 -67.57 178.92 -67.57 178.92 H 267.34 s 16.75 -193 48.15 -242.5 c 10.33 -13.76 79.92 -13.25 122.51 -2.93 C 471.81 362.45 534.73 372 546.4 368.72 Z" /><path class="cls-6" d="M 422.33 82.2 a 6.11 6.11 0 0 1 3.68 -0.86 c 3.83 0.27 10.09 10.39 10.09 18.58 s -2.31 11.27 -1.61 17.22 s 15.85 86.63 15.85 91.55 a 67.52 67.52 0 0 0 8.88 -0.57" /><path class="cls-7" d="M 503.78 170.42 c 15.32 1.72 26.35 12.16 34.15 27.44" /><path class="cls-7" d="M 452.23 226.58 c 7 -21.6 16.54 -40.38 28.92 -49.85" /><path class="cls-7" d="M 546.74 221.62 c 15.29 57.24 5.37 142.37 -0.34 147.1 c -8.64 7.16 -100.75 -17 -108.4 -27.66 c -3.18 -4.4 -2.53 -34.51 3.18 -68.27" /><path class="cls-6" d="M 472.8 218.76 c -4.07 1.38 -27.94 10.69 -27.94 10.69 c -0.4 -4.8 -18.75 -100 -19.88 -105.83 a 47.62 47.62 0 0 0 3.37 -18.3 C 428.35 89.69 422 77 414.17 77 S 400 89.69 400 105.32 a 46.85 46.85 0 0 0 3.7 19.06 c -0.88 11.9 -8.78 124.89 7.34 141 c 16.44 16.44 55.53 2.68 80.81 -8.57" /><rect transform="translate(43.96 -110.73) rotate(14.87)" x="438.44" y="107.64" width="15.5" height="10.83" /><path class="cls-7" d="M 527.77 195.32 c 8.55 1 15.57 4 18.68 10 c 11.29 21.92 -33.42 61.41 -45.79 58.47 s -32.32 -47.08 -28.59 -55 c 1.06 -2.27 6.73 -5.28 14.52 -7.91" /><path class="cls-6" d="M 481.15 176.73 v -6.2" /><path class="cls-6" d="M 503.78 158.94 v 29.78 c 0 1.8 -5.33 2.95 -10.81 3.12" /><path class="cls-6" d="M 508.94 149.37 a 48.54 48.54 0 0 1 -5.16 9.57" /><path class="cls-6" d="M 490.25 169.83 a 18.84 18.84 0 0 1 -6 1 c -16.32 0 -29.54 -21.39 -29.54 -47.77 a 72.77 72.77 0 0 1 2.81 -20.37" /><path class="cls-6" d="M 504.46 141.17 c 0.58 5.45 2.64 8.2 4.48 8.2 c 2.17 0 7.89 -1.5 11.57 -1.5 c 36.14 0 78.58 37.31 160 37.31 c 42.53 0 109.27 -10.73 109.27 -73.19 c 0 -33.73 -12.14 -74.49 -76.31 -74.49 c -40.75 0 -69.3 20 -102.78 20 c -43 0 -59.58 -15.57 -89.29 -15.57 c -21.16 0 -68.78 12.26 -68.78 44.38 c 0 12.2 3.82 15.74 5 16.37 c 0.39 -1.3 2.77 -8.22 4.6 -11.28 a 18.94 18.94 0 0 0 3.62 12.56" /><path class="cls-6" d="M 498.24 123.68 a 32.23 32.23 0 0 1 2.34 3" /><path class="cls-6" d="M 497.05 128.09 a 7.43 7.43 0 0 1 4.21 -1.29 a 7.54 7.54 0 0 1 3.2 14.37" /><path d="M 428.35 105.32 A 49.32 49.32 0 0 1 425.64 122 c 8.51 1 14.67 1.73 14.67 1.73 L 446.18 100 S 437.5 96.39 426.69 92 A 51.94 51.94 0 0 1 428.35 105.32 Z" /><path d="M 400 105.32 c 0 -8.83 2 -16.71 5.2 -21.9 c -9.33 -3.67 -17.18 -6.65 -19.41 -7.21 c -6.49 -1.6 -16 37.61 -9.69 39.18 c 2.55 0.63 13.52 2.1 25.69 3.64 A 51.61 51.61 0 0 1 400 105.32 Z" /><polyline class="cls-6" points="290.3,585.6 290.3,607.48 232.74,607.48 271.81,593.67 271.81,585.6" /><polyline class="cls-6" points="554.08,764.27 554.08,786.15 502.52,786.15 537.51,772.34 537.51,764.27" /></g></g></svg>
                            <p class="lead">La URL no es accesible por el momento.</p>
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-arrow-left mr-1"></i>
                                Volver al inicio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutError_footer">
        <footer class="bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Grupo3 (.Net Reus) 2021</div>
                    <div>
                        <a href="#">Politica de privacidad</a>
                        &middot;
                        <a href="#">Terminos y Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


