@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="container-fluid">

    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">El acceso fue denegado.</p>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-arrow-left mr-1"></i>
            Volver al inicio
        </a>
    </header>

</div>