@page
@model LogoutModel
@{ ViewData["Title"] = "Cerrar sesión"; }
<div class="container-fluid">
    <div class="row justify-content-center" style="margin-top: 5%">
        <div class="col-md-4 ">

            <header>
                <h1>@ViewData["Title"]</h1>
                <p>Su sesión ha sido cerrada.</p>
            </header>
        </div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="~/css/Fondo.css" />
}

